InformationRetrievalSystemGarfield/src/Config/Constants.java
Dataset/garfieldProcessed.txt
InformationRetrievalSystemGarfield/src/subMain.java
InformationRetrievalSystemGarfield/src/Indexer/oldMain.txt
